<html>
<head>
	<title>Sloth Central</title>
</head>
<body>
	<h1>Sloth Central</h1>
	<h3>All sloths, all the time</h3>

<!-- Begin Navigation -->
	<ul>
		<li><a href="/feed">News Feed</a></li>
		<li><a href="/authors/new">Add an Author</a></li>
		<li><a href="/posts/new">Create New Post</a></li>
		<li><a href="/tags/new">Add a Tag</a></li>
		<li><a href="/authors">All Authors</a></li>
		<li><a href="/posts">All Posts</a></li>
		<li><a href="/tags">All Tags</a></li>

	</ul>
<!-- End Navigation -->


	<!-- Optional Home Page Feeds
		<ul>
		<li>Recent Microposts Feed TK</li>
		<li>Recent Tags Feed TK</li>
	</ul> 
	-->

</body>
</html>