<html>
<head>
	<title>Sloth Central</title>
</head>
<body>
	<h1>Sloth Central</h1>
	<h3>All sloths, all the time</h3>

<!-- Begin Navigation -->
	<ul>
		<li><a href="/feed">News Feed</a></li>
		<li><a href="/authors/new">Add an Author</a></li>
		<li><a href="/posts/new">Create New Post</a></li>
		<li><a href="/authors">All Authors</a></li>
		<li><a href="/posts">All Posts</a></li>
		<li><a href="/tags">All Tags</a></li>

	</ul>
<!-- End Navigation -->

<h4>Get updates:</h4> 
	<form action="/subscribers" method="POST">
	<input type="text" name="name" placeholder="Name" />
	<input type="email" name="email" placeholder="Email Address" />
			<button>Subscribe</button>
		</form>

	<!-- Optional Home Page Feeds
		<ul>
		<li>Recent Microposts Feed TK</li>
		<li>Recent Tags Feed TK</li>
	</ul> 
	-->

</body>
</html>