<html>
<head>
	<title>Sloth Central</title>
</head>
<body>
	<h1>Sloth Central</h1>
	<h3>All sloths, all the time</h3>

<!-- Begin Navigation -->
	<ul>
		<li><a href="/authors/new">Add an Author</a></li>
		<li>Create New Post</li>

		<li><a href="/authors">All Authors</a></li>
		<li>All Posts</li>

	</ul>
<!-- End Navigation -->


	<!-- Optional Home Page Feeds
		<ul>
		<li>Recent Microposts Feed TK</li>
		<li>Recent Tags Feed TK</li>
	</ul> 
	-->

</body>
</html>