body {
	margin:0;
	padding:0;
	height: 100%;
}

/*Head, Nav, Footer*/

#header {
	padding:10px;
	color: white;
	text-shadow: black 0.1em 0.1em 0.2em;
	background-image: url('./trees.jpg');

}

#header h1 {
	font-family: 'Chicle', cursive;
	font-size: 125px;
	text-align: center;
	margin-top: 0px;
}

#header h3 {
	font-family: 'Chicle', cursive;
	font-size: 45px;
	text-align: center;
	margin-top: -90px;
}

#navigation {
	width:100%;
	height:40px;
	bottom:0;
	left:0;
	background: green;
}

#navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

#navigation li {
    float: left;
    font-family: 'Dosis', sans-serif;
    list-style-type: none;

}

#navigation a {
    display: block;
    width: 175px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

#navigation a:hover {
	text-decoration: underline;
	color: black;
}

#footer {
	clear:both;
	float:left;
	width:100%;
	height: 40px;
	bottom:0;
	font-family: 'Dosis', sans-serif;
	font-size: 14px;
}

#footer p {
	margin-left:2%;
	padding-right:2%;
	text-align: center;
}

/* Start of Column CSS */
#container3 {
	clear:left;
	float:left;
	width:100%;
	overflow:hidden;
	background: white; 
	font-family: 'Dosis', sans-serif;
}

#container2 {
	clear:left;
	float:left;
	width:100%;
	position:relative;
	right:33.333%;
	background: white; 
	border-right: dotted black 1px; 
	font-family: 'Dosis', sans-serif;
}

#container1 {
	float:left;
	width:100%;
	position:relative;
	right:33.33%;
	background: white; 
	border-right: dotted black 1px;
	font-family: 'Dosis', sans-serif;
}

#col1 {
	float:left;
	width:29.33%;
	position:relative;
	left:68.67%;
	overflow:hidden;
}

#col2 {
	float:left;
	width:29.33%;
	position:relative;
	left:72.67%;
	overflow:hidden;
}

#col3 {
	float:left;
	width:29.33%;
	position:relative;
	left:76.67%;
	overflow:hidden;
}


/*Content*/

.well {
	margin-left: 5%;
}

h3 {
	padding: 0;
}

h3 a {
	text-decoration: none;
}

h2 {
	font-family: 'Chicle', cursive;
	font-size: 45px;
	margin-bottom: 0;
}

p {
	font-family: 'Dosis', sans-serif;
    list-style-type: none;

}

a {
	text-decoration: underline;
	font-family: 'Dosis', sans-serif;
	color: black;
}

a:hover {
	text-decoration: underline;
	color: green;
}

li {
	color: black;
	list-style-type: square;
}


form button {
	font-family: 'Dosis', sans-serif;
	font-size: 15px;
	border-radius: 10px;	
	color: white;
	background-color: black;
}

input {
	font-family: 'Dosis', sans-serif;
	border-radius: 10px;
	font-size: 15px;
}

option {
	font-family: 'Dosis', sans-serif;
	border-radius: 10px;
	font-size: 15px;
}

textarea {
	font-family: 'Dosis', sans-serif;
	border-radius: 10px;
	font-size: 15px;
}