<html>
<head>
	<title>Sloth Central: Subscription Confirmation</title>
</head>
<body>
	<h1>Subscription Confirmed</h1>

	<p>Thanks for subscribing!</p>

	<!-- Begin Navigation -->
	<ul>
		<li><a href="/feed">News Feed</a></li>
		<li><a href="/authors/new">Add an Author</a></li>
		<li><a href="/posts/new">Create New Post</a></li>
		<li><a href="/authors">All Authors</a></li>
		<li><a href="/posts">All Posts</a></li>
		<li><a href="/tags">All Tags</a></li>

	</ul>
<!-- End Navigation -->

</body>
</html>