<html>
<head>
	<title>Sloth Central: Post tagged <%= tag.tag %></title>
</head>
<body>
	<h1>Posts tagged <%= tag.tag %></h1>

	 <ol>
		<% posts.each do |post| %>
			<li>
		  	<a href="/posts/<%= post.id %>"><%= post["title"] %>
			</li>
		<% end %>
  </ol>

</body>
</html>