<html>
<head>
	<link rel ="stylesheet" type=text/css href="/styles.css">
	<link href='http://fonts.googleapis.com/css?family=Chicle|Dosis' rel='stylesheet' type='text/css'>
	<title>Sloth Central: Create a New Post</title>
</head>
<body>
	<div id="header">
	<h1>Sloth Central</h1>
	<h3>All sloths, all the time...</h3>
	</div>

<!-- Begin Navigation -->
<div id="navigation">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/feed">News Feed</a></li>
		<li><a href="/authors/new">Add an Author</a></li>
		<li><a href="/posts/new">Create New Post</a></li>
		<li><a href="/authors">All Authors</a></li>
		<li><a href="/posts">All Posts</a></li>
		<li><a href="/tags">All Tags</a></li>

	</ul>
</div>	

<!-- End Navigation -->
	
	<!-- Begin Well -->
	<div class="well">
	<h2>Create a New Post</h2>
	<form action="/posts" method="POST">
			<p>Title: <input type="text" name="title" size="62" placeholder="Add a title">
			</p>
			<p>Body:<br>
			<textarea name="content" cols="50" rows="3" placeholder="Write something..."></textarea>
			</p>
			<p>Image URL: <input type="text" name="image_url" size="53" placeholder="Add an image">
			</p>
<!-- 				<p>Tag(s): <input type="text" name="tag" placeholder="Add a tag">
			</p> -->
			<p>Tag: 
				<select name="tag_id">
					<option selected="selected">Select a tag</option>
					<% tags.each do |tag| %>
					<option value="<%= tag["id"] %>"><%= tag["tag"] %></option>
					<% end %>
				</select>
				</p>
						<p>
				Not listed? <a href="/tags/new">Add new tag</a>
				</p>

			<p>Author: 
				<select name="author_id">
					<option selected="selected">Select an author</option>
					<% authors.each do |author| %>
					<option value="<%= author["id"] %>"><%= author["name"] %></option>
					<% end %>
				</select>
				</p>
				<p>
				Not listed? <a href="/authors/new">Add new author</a>
				</p>
				<button>Post</button>
		</form>
	</div>
		<div id="footer">
	<p>&copy; Copyright 2014</p>
	</div>

</body>
</html>