<html>
<head>
	<title>Edit <%= author.name%></title>
</head>
<body>
	<form action="/authors/<%= author.id %>" method="POST">
		<input type="hidden" name="_method" value="PUT">
		<input type="text" name="name" placeholder="Name" value="<%= author.name %>" />
		<button>Save</button>
	</form>

	<form action="/authors/<%= author.id %>" method="POST">
		<input type="hidden" name="_method" value="DELETE">
		<button>Delete</button>
	</form>

</body>
</html>