<!DOCTYPE html>
<html>
<head>
	<link rel ="stylesheet" type=text/css href="/styles.css">
	<link href='http://fonts.googleapis.com/css?family=Chicle|Dosis' rel='stylesheet' type='text/css'>
	<title>Sloth Central: Authors</title>
</head>
<body>
			<div id="header">
	<h1>Sloth Central</h1>
	<h3>All sloths, all the time...</h3>
	</div>

<!-- Begin Navigation -->
<div id="navigation">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/feed">News Feed</a></li>
		<li><a href="/authors/new">Add an Author</a></li>
		<li><a href="/posts/new">Create New Post</a></li>
		<li><a href="/authors">All Authors</a></li>
		<li><a href="/posts">All Posts</a></li>
		<li><a href="/tags">All Tags</a></li>

	</ul>
</div>	
<!-- Begin Well -->
<div class="well">
	<h2>All Authors</h2>
	
	<ul>
		<% authors.each do |author| %>
			<li>
				<a href="/authors/<%= author.id %>/posts">
					<%= author.name %>
				</a>
			</li>
			
				<form action="/authors/<%= author.id %>/edit" method="GET">
						<input type="hidden">
						<button>Edit</button>
				</form>
				
				<form action="/authors/<%= author.id %>" method="POST">
					<input type="hidden" name="_method" value="DELETE">
					<button>Delete</button>
				</form>
		<% end %>
	</ul>
</div>
<div id="footer">
	<p>&copy; Copyright 2014</p>
	</div>
</body>
</html>