<html>
<head>
	<title>Sloth Central: Authors</title>
</head>
<body>
	<h1>All Authors</h1>
	
	<ul>
		<% authors.each do |author| %>
			<li>
				<a href="/authors/<%= author.id %>/posts">
					<%= author.name %>
				</a>
			</li>
			
				<form action="/authors/<%= author.id %>/edit" method="GET">
						<input type="hidden">
						<button>Edit</button>
				</form>
				
				<form action="/authors/<%= author.id %>" method="POST">
					<input type="hidden" name="_method" value="DELETE">
					<button>Delete</button>
				</form>
		<% end %>
	</ul>

</body>
</html>