<html>
<head>
	<title> <%= author["name"] %></title>
</head>
<body>
	<h1> <%= author["name"] %></h1>

	<p>Posts:</p>

	<ul>
		<% posts.each do |post| %>
			<li>
		  	<a href="/posts/<%= post.id %>"><%=post["title"]%>
			</li>
		<% end %>
  	</ul>


<!-- Add subscribe link/icon -->
</body>
</html>